@media( max-width:1024px ) {
    .wholebox1{
        flex-direction: column;
    align-items: center;}
    .wholebox2{
        flex-direction: column;
        align-items: center;}
       
   }

@media (max-width:870px) {
    .headerdiv{ flex-direction: column;}
}
@media(max-width:768px) {

    .title1{
        width: 400px;
    }
    .headline-text{
        width: 500px;
    }
    .ul-tag{
        display: none;
       }
}
@media(max-width:630px){
    
}

@media(max-width:480px) {
    .headline{
        width: 300px;
    }
    .headline-text{
        width: 400px;
    }
    .title1{
        width: 300px;
    }
   .button{
    width: 150px;
height: 40px;
margin-bottom: 20px;
}
.button-text{
    font-size: 10px;
}
.button-image{
    width: 20px;
}
}

@media(max-width:435px){
   .headline-text{
    width: 350px;
}
   .title1{
    width: 250px; 
    font-size: 40px;
}
   .headline-text{
    width: 270px;
}
   .paragraph1{
    width: 230px;
}
}

@media(max-width:320px){
    .leftblock{
        width: 270px;
    }
    .title1{
        font-size: 40px;
    width: 250px;
}
    .headline-text{
        width: 250px;
    }
    .paragraph1{
        width: 200px;
    }
    .headline-title2{
        width: 250px;
    }
    }

